
@{
   
}

@model ParkedVehicle

<!DOCTYPE html>
<html>
<head>
    <title>kvitto</title>
</head>
<body>
    <h2>Parking Receipt</h2>
    <div>Registration Number: @Model.RegistrationNumber</div>
    <div>Check-In Time: @Model.ArrivalTime</div>
    <div>Check-Out Time: @Model.CheckOutTime</div>
    <div>Total Parking Time: @Model.TotalParkingTimeInMinutes minutes</div>
    <div>Price: @Model.Price kr</div>
    <button onclick="window.print()">Print Receipt</button>
</body>
</html>
